{{ if .error }}
  <div class="box text-box">
    <p class="error">{{ .error }}</p>
  </div>
{{ else if .previous_result }}
  <div class="box text-box">
    <b>Found an existing build with an identical source:</b><br />
    Continue to the application page >
    <a href="/{{ .previous_result.hash }}/info"
      >{{ .previous_result.hash }}/info</a
    >
  </div>
{{ else }}
  <div
    {{ if ne .build.completed true -}}
      hx-get="/new/build-status?hash={{ .build.hash }}" hx-trigger="every 1s"
    {{- end }}
    class="build-status"
  >
    <div class="box text-box">
      {{ if .build.completed -}}
        <b>Build complete</b>
      {{- else -}}
        <b>Building...</b>
      {{- end }}
      <p>
        {{ if .build.completed }}
          Build time:
          {{ .build.time_seconds }}
          <br />
          Compilation exit code:
          {{ .build.exit_code }}
          <br />
          Compilation command: "{{ .build.command }}"
          {{ if .build.error }}
            <br />
            Exited with error:
            {{ .build.error }}
          {{ end }}
        {{ else }}
          Build started: {{ .build.time_seconds }} ago
          <br />
          Compilation command: "{{ .build.command }}"
        {{ end }}
      </p>
      {{ if .build.completed }}
        <div class="box text-box">
          <p>
            {{ if .build.error }}
              <b>Build failed with an error:</b><br />
              Review the logs and try again.
            {{ else }}
              <b>Build completed successfully:</b><br />
              Continue to the application page >
              <a href="/{{ .build.hash }}/info">{{ .build.hash }}/info</a>
            {{ end }}
          </p>
        </div>
      {{ end }}
      Logs: <code><pre class="wrap">{{ .build.logs.String }}</pre></code>
    </div>
  </div>
{{ end }}
