{{ if .error }}
  <div class="box text-box">
    <p class="error">{{ .error }}</p>
  </div>
{{ else }}
  <div
    {{ if ne .build.completed true -}}
      hx-get="/new/build-status?id={{ .build.id }}" hx-trigger="every 1s"
    {{- end }}
    class="build-status"
  >
    <div class="box text-box">
      {{ if .build.completed }}
        <b>Build complete</b>
        Build completed with exit code:
        {{ .build.exit_code }}
        {{ if .build.error }}
          <br />
          Exited with error:
          {{ .build.error }}
        {{ end }}
        Continue to application:
        <a href="/{{ .result_name }}/info">{{ .result_name }}/info</a>
      {{ else }}
        <b>Building...</b>
        Build started:
        {{ .build.time_since }}
      {{ end }}
      <br />
      Command: "{{ .build.command }}"
      <br />
      Logs: <code><pre class="wrap">{{ .build.logs.String }}</pre></code>
    </div>
  </div>
{{ end }}
