<style>
  html {
    font-family: Helvetica, Arial, sans-serif;
  }

  iframe.app {
    position: fixed;
    width: 100%;
    height: calc(100% - 22px);
    top: 20px;
    left: 0px;
    border-top: 2px solid black;
  }

  .text-box {
    padding: 10px;
  }

  code {
    background-color: #e0e0e0;
  }
  .align-items-right {
    text-align: right;
  }
  pre.wrap {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px;
  }
  .box {
    border: 1px solid #e0e0e0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  .file p {
    margin: 3px 0 2px 3px;
    font-weight: bold;
  }
  .file pre {
    max-height: 600px;
  }
  pre {
    margin: 0px;
  }

  .error {
    color: red;
  }

  textarea {
    padding: 5px;
    font-family: monospace;
    color: #333333;
    width: 100%;
    resize: none;
    background-color: #e0e0e0;
    border: 0px;
    outline: none;
  }
</style>
