<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>256kb.cloud</title>
    <!-- https://icons8.com/icon/54449/dashed-cloud -->
    <link
      rel="shortcut icon"
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 16 16' width='512px' height='512px'><path fill='%23337AB7' /></svg>"
    />
    {{ if .dev -}}
      <script src="http://localhost:35729/livereload.js"></script>
    {{- end }}
    {{ template "_js_libs.html" . }}
    {{ template "_css_libs.html" . }}
    {{ template "_style.html" . }}
  </head>

  <body>
    {{ if ne .hide_nav true }}
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="nav">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 13"
                width="22px"
                height="15px"
              >
                <path
                  fill="black"
                  {{ template "logo-data" . }}
                />
              </svg>
              <a href="/"><b>256kb.cloud</b></a>
              -
              <a href="/new">new application</a>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
    {{ yield . }}
  </body>
</html>
