<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>256kb.cloud</h1>
      <p>Tiny baby cloud provider. All you get is:</p>
      <ul>
        <li>One server-side WebAssembly binary with 256kb of memory.</li>
        <li>
          One index.html page
          <s>up to 256kb in size. No external links.</s>
        </li>
        <li>
          Server code is submitted and compiled to WebAssembly. Compilers for Go
          (tinygo), <s>Zig, and Rust</s> are available.
        </li>
        <li>Applications are immutable.</li>
        <li>
          Everything is open, all code, <s>logs, and runtime information</s> are
          available.
        </li>
        <li>
          No disk, no server network calls, no environment variables, no config.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>Recent Applications:</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Created</th>
          </tr>
        </thead>
        <tbody>
          {{ range .apps }}
            <tr>
              <td>
                <a href="/{{ .name }}/info">{{ .name }}</a>
              </td>
              <td>{{ .date }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>
