{{ if .error }}
  <div class="container">
    <div class="row">
      <div class="box text-box">
        <p class="error">{{ .error }}</p>
      </div>
    </div>
  </div>
{{ else }}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3><a href="/{{ .name }}/info">{{ .name }}</a></h3>
        <p>
          <b>Open Application: </b><a href="/{{ .name }}">{{ .name }}</a>
          <br />
          <b>Open Subdomain: </b
          ><a href="//{{ .name }}.{{ .subdomain_host }}"
            >https://{{ .name }}.{{ .subdomain_host }}</a
          >
          <br />
          <b>Connect to WebSocket: </b>
          wss://{{ .name }}.{{ .subdomain_host }}/ws
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="box file">
          <p>main.go</p>
          <pre><code class="language-go">{{ .server_source }}</code></pre>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="box file">
          <p>index.html</p>
          <pre><code class="language-html">{{ .html_source }}</code></pre>
        </div>
      </div>
    </div>
  </div>
{{ end }}
